/*******************Footer***************
****************************************/
.copyright {
	text-align: center;
	padding-right: 20px;
}
.copyright ul {
	padding: 15px 0;
	margin: 0;
}
.copyright ul li {
	display: inline-block;
	margin-left: 10px;
	list-style: none;
}
.copyright ul li:first-child {
	text-decoration: underline;
}

/***********************************************
****************TWEETS**************************
***********************************************/
.tweet {
	font-family: Proxima Nova;
	padding: 5px 10px;
	border-radius: 4px;
	margin: 5px 7px;
	margin-bottom: 12px;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1), 1px 1px 4px 0 rgba(0,0,0,0.2);
	transition: all .43s ease-in-out;
}
.tweet h4 {
	margin-bottom: 2px;
	font-weight: 500;
	color:  #A0C7F2;
	font-weight: 600;
	text-align: left;
	margin-top: 0;
}
.tweet p {
	text-align: left;	
}
.tweet:hover {
	transform: translateY(-3px);
}
.tweet span {
	margin-top: 4px;
	float: right;
}
.tweet img {
	padding: 4px;
	border-radius: 6px;
	border: 1px solid #f3f3f3;
}
.tweet span a {
	border-radius: 5px;
	padding: 5px 20px;
	border: 1px solid #A0C7F2;
	color:  #A0C7F2;
	font-weight: 600;
	transition: all .45s ease-in-out;
}
.tweet span a:hover {
	background: #A0C7F2;
	color: #fff;
}
/******************************************
*******************FEATURE_SET************
********************************************/
.feature-item img {
	height: 70px;
	width: 70px;
	padding: 10px;
	float: left;
}
/********************************************
********************NAVBAR*******************
********************************************/
.sign-up-btn {
	margin-top: 10px;
}
.sign-up-btn>a {
	background: #10ADE4; 
	padding: 5px 20px !important; 
	border-radius: 25px; 
	color: #fff;
	font-weight: 600;
	transition: all .34s ease-in-out;
}
.sign-up-btn>a:hover {
	background: transparent !important;
	color: #10ADE4 !important;
	border: 2px solid #10ADE4 !important;
}
.i_gt {
	padding: 20px; 
	color: #f5f5f5 !important;
}
.feature-set {
	text-align: center; 
	padding: 15px; 
	margin: 10px auto; 
	background: #004a7c; 
	color: #fff; 
	min-height: 150px; 
	line-height: 150px;
}